docker {
    enabled = true
}

params {
  cutadapt_container = 'quay.io/biocontainers/cutadapt:5.2--py39hbcbf7aa_0'
  bowtie2_container  = 'quay.io/biocontainers/bowtie2:2.5.4--he96a11b_7'
  samtools_container = 'quay.io/biocontainers/samtools:1.9--h91753b0_8'
  bcftools_container = 'quay.io/biocontainers/bcftools:1.9--ha228f0b_4'

  fastq_files = "./GenomeFiles/*_R{1,2}_001.fastq.gz"
  trimmed_fastq = "./trimmed/*_paired.fastq.gz"
  ref_file = "./GenomeFiles/GCA_000005845.2_ASM584v2_genomic.fna"

  config_script = "./funcscan.config"
}

process {
  resourceLimits = [
    cpus: 4,
    memory: 15.GB,
    time: 3.h
  ]

  withName: '.*CUTADAPT.*' { container = params.cutadapt_container }
  withName: '.*BOWTIE.*'   { container = params.bowtie2_container }
  withName: '.*SAMTOOLS.*' { container = params.samtools_container }
  withName: '.*BCFTOOLS.*' { container = params.bcftools_container }
}
