# pre-commit
.pre-commit-config.yaml

# nextflow folder and logs
.nextflow/
work/
.nextflow.log
.nextflow.log.*

docker_images/
execution_report_*
execution_timeline_*
execution_trace_*
params_*
pipeline_dag_*