params.fastq_files = "./FastqFiles/*_R{1,2}_001.fastq.gz"
params.trimmed_fastq = "./trimmed/*_paired.fastq.gz"
params.ref_file = "./FastqFiles/*_genomic.fna"

params.vcf_quality_graph_script = "modules/GraphCreation/PythonFiles/vcfQualityGraph.py"

process {
    withName: FASTQC {
        memory = 4.GB
        time = '1h'
    }

    withName: TRIMMING {
        memory = 8.GB
        time = '2h'
    }

    withName: SPADES_ASSEMBLY {
        memory = 10.GB
        time = '6h'
    }

    withName: BOWTIE_INDEXING {
        memory = 4.GB
        cpus = 4
        time = '6h'
    }

    withName: SAMTOOLS_SORT {
        memory = 4.GB
        cpus = 4
        time = '6h'
    }

    withName : ANNOTATE_GENOME {
        memory = 10.GB
        cpus = 4
        time = '1h'
    }
}
