params.fastq_files = "./FastqFiles/*_R{1,2}_001.fastq.gz"
params.trimmed_fastq = "./trimmed/*_paired.fastq.gz"
params.ref_file = "./FastqFiles/*_genomic.fna"

params.vcf_quality_graph_script = "./scripts/vcfQualityGraph.py"
params.kegg_analysis_script = "./scripts/KEGG_prokka_nf.py"
params.prokka_graph_script = "./scripts/plot_prokka.py"

process {
    withName: FASTQC {
        memory = 4.GB
        time = '1h'
    }

    withName: CUTADAPT {
        memory = 8.GB
        time = '2h'
    }

    withName: SPADES_ASSEMBLY {
        memory = 10.GB
        time = '6h'
    }

    withName: BOWTIE_INDEXING {
        memory = 4.GB
        cpus = 4
        time = '1h'
    }

    withName: SAMTOOLS_SORT {
        memory = 4.GB
        cpus = 4
        time = '1h'
    }

    withName: RUN_BAKTA {
        memory = 4.GB
        cpus = 4
        time = '1h'
    }
}

conda {
    enabled = true
    autoActivate = true
}
