params.fastq_files = "./DogaNextflow/FastqFiles/*_R{1,2}_001.fastq.gz"
params.trimmed_fastq = "./trimmed/*_paired.fastq.gz"

process {
    withName: FASTQC {
        memory = 4.GB
        time = '1h'
    }

    withName: TRIMMING {
        memory = 8.GB
        time = '2h'
    }

    withName: SPADES_ASSEMBLY {
        memory = 24.GB
        time = '6h'
    }
}
